body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  background-color: #fff8f0;
  color: #333;
}

header, footer {
  background-color: #b22222;
  color: white;
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 0.5em;
}

.gallery-img {
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}

.menu-item {
  background-color: #fff;
  border: 2px solid #b22222;
  padding: 1em;
  width: 220px;
  text-align: center;
  border-radius: 8px;
}